@theme {
  /* Colors */
  --color-text: #000000;
  --color-text-2: #ffffff;
  --color-text-3: #c2c2c2;
  --color-text-4: #808080;
  --color-text-5: #242424;
  --color-text-6: #f0f0f0;
  --color-text-7: #333333;
  --color-text-8: #cacaca;
  --color-text-9: #0000ee;
  --color-text-10: #3d3d3d;

  /* Spacing */
  --spacing-space-1: 8px;
  --spacing-space-2: 10px;
  --spacing-space-3: 25px;
  --spacing-space-4: 6px;
  --spacing-space-5: 20px;
  --spacing-space-6: 12px;
  --spacing-space-7: 13px;
  --spacing-space-8: 4px;
  --spacing-space-9: 24px;
  --spacing-space-10: 0.5px;

  /* Border Radius */
  --radius-radius-1: 4px;
  --radius-radius-2: 12px;
  --radius-radius-3: 8px;
  --radius-radius-4: 888px;
  --radius-radius-5: 20px;

}